<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/nodemcu-v2.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> IoT datalogger </h5>
      <li> Temprature logger using NodeMCU</li>
      <p>
	  Simple project showcaacse the ability of low cost NodeMCU WiFi module and LM35 temprature sensor plotting graph on ThingSpeak IoT server. 
	  </p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/PowerAdapter.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Hacking laptop power adapter. </h5>
      <ul>
        <li> Variable bench power supply.</li>
      </ul>
      <p>
	  Old useless, but working power adapter is lying around? convert them into easily modifible bench power supply for future project testing and development.
	  </p>
      <a class="project-link" href="https://uculurtech.github.io/2017/05/20/power-supply-from-old-laptop-adapter/">Check it out</a>
    </div>
  </div>
</div>
